@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#header {
    width: 100%;
    height: 5vw;
    position: absolute;
    top: 0;
    left: 0;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 100000000;
}

#header>h1 {
    font-size: 1.5vw;
    margin-left: 5vw;
    box-sizing: border-box;
}

#header >h1 >a >img {
    width: 13vw;
    padding-top: 5vw;
}

#header>ul {
    width: 50%;
    padding-top: 4.5vw;
    z-index: 10;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    font-size: 1.5vw;
    margin-right: 5vw;
    box-sizing: border-box;
}

#header ul li a {
    color: white;
    font-size: 1.6vw;
}

#header .hamburger_menu>.column_box {
    background-color: #111111f5;
    width: 70%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    color: #575555;
    z-index: 1000000;
    display: flex;
    flex-direction: column;
}

#header .hamburger_menu>.column_box>.close {
    font-size: 10vw;
    position: absolute;
    top: 0;
    right: 8%;
    cursor: pointer;
    z-index: 11;
    color: white;
}

#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb {
    margin-top: 35%;
    margin-left: 5%;
}

#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb>li {
    margin-bottom: 20%;
    line-height: 6vw;
}

#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb>li>.link_menu {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb>li>.link_menu a {
    font-size: 5vw;
    font-weight: bold;
}

#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb>li>.link_menu a:hover {
    color: #dd4f5f;
}

#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb>li>.hamburg_sub {
    margin-top: 10vw;
    height: auto;
    box-sizing: border-box;
}

#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb>li>.hamburg_sub>li {
    font-size: 4.2vw;
    margin-top: 3vw;
    padding: 1vw 2vw;
    color: #838282;
    cursor: pointer;
    box-sizing: border-box;
}

#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb>li>.link_menu .open {
    font-size: 7vw;
    font-weight: bold;
    margin-right: 5%;
    display: none;
}

#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb>li>.link_menu .shut {
    font-size: 5vw;
    font-weight: bold;
    margin-right: 5%;
}

#header .hamburger_menu>.column_box>.hamburg_menu>.hamburg_gnb>li>.hamburg_sub>li:hover {
    width: 95%;
    background-color: #dd4f60ab;
    color: white;
}

#header .hamburger_menu>.hamburger_icon {
    font-size: 7vw;
    position: absolute;
    top: 3vw;
    right: 5%;
    z-index: 1000;
    cursor: pointer;
    /* display: none; */
}

#header>.hamburger_menu {
    display: none;
}

#section{
    background-color:#0039c8;
}

#section .quick_menu {
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    font-size: 1.1vw;
    z-index: 100;
}

#section .quick_menu .quick_sub {
    /* display: none; */
    background-color: rgba(0, 0, 0, 0.696);
    border-radius: 1vw;
    width: 3vw;
    height: 18vw;
    /* overflow: hidden; */
}

#section .quick_menu .quick_sub>li {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-content: center;
    /* background-color: #4294ff; */
}
#section .quick_menu .quick_sub>li:hover a{
    background-color: #a7f611;
    padding-left: 1vw;
    border-radius: 0.5vw;
    margin-right: 0.3vw;
}
#section .quick_menu .quick_sub>li:nth-child(1)>a{
    margin-top: 1.7vw;
}
#section .quick_menu .quick_sub>li>a{
    display: flex;
    flex-direction: row-reverse;
    padding: 0.4vw 0vw 0.4vw 1vw;
    margin-bottom: 0.7vw;
}
#section .quick_menu .quick_sub>li>a>i{
    font-size: 1.6vw;
    margin-right: 0.6vw;
    box-sizing: border-box;
    color: white;
}
#section .quick_menu .quick_sub>li:nth-child(2)>a,#section .quick_menu .quick_sub>li:nth-child(4)>a{
    margin-right: 0.2vw;
}
#section .quick_menu .quick_sub>li:hover>a>i{
    color: black;
}

#section .quick_menu .quick_sub>li>a> p {
    align-content: center;
    font-size: 1vw;
    color: black;
    display: none;
    padding-right: 1.2vw;
    font-weight: bold;
}
#section .quick_menu .quick_sub>li:hover a>p {
    display: block;
}

#section .quick_menu .quick_btn {
    font-size: 3vw;
    cursor: pointer;
    color: #a7f611;
}

#section #section1 {
    background-image: url(images/main_bg.png);
    border-radius: 5vw 5vw 0 0;
    background-size: cover;
    width: 100%;
    height: 55vw;
    align-content: center;
    box-sizing: border-box;
}

#section #section1>h1 {
    width: 90%;
    border: 1px solid red;
    text-align: center;
    margin: 0 auto;
}

#section #section1>h1>img {
    width: 90%;
    background-color: #0039c8;
    /* margin: 0 auto; */
    /* text-align: center; */
    box-sizing: border-box;
}

#section #section2 {
    position: relative;
    top: -5vw;
    left: 0;
    width: 100%;
    height: 57vw;
    background-color: white;
    border-radius: 5vw 5vw 0 0;
    box-sizing: border-box;
}

#section #section2>.profile_content>h1 {
    padding: 3vw 0;
    padding-left: 5vw;
    z-index: 100000000000;
    font-size: 2.5vw;
    color: black;
    box-sizing: border-box;
}

#section #section2>.profile_content>.profile_wrap {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    z-index: 10000;
    color: black;
}

#section #section2>.profile_content>.profile_wrap>.profile_box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#section #section2>.profile_content>.profile_wrap>.profile_box:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

#section #section2>.profile_content>.profile_wrap>.profile_box>ul>li:nth-child(1)>h1 {
    color: #0039c8;
    font-size: 1.5vw;
    margin-bottom: 1vw;
    box-sizing: border-box;
}

#section #section2>.profile_content>.profile_wrap>.profile_box>ul:nth-child(1)>li,
#section #section2>.profile_content>div>ul:nth-child(3)>li {
    display: flex;
}

#section #section2>.profile_content>.profile_wrap>.profile_box>ul>li {
    font-size: 1.1vw;
    margin-bottom: 0.3vw;
}

#section #section2>.profile_content>.profile_wrap>.profile_box>.education>li:nth-child(2)>p>span {
    display: block;
}

#section #section2>.profile_content>.profile_wrap>.profile_box>ul>li>h2 {
    font-size: 1.2vw;
    color: #595959;
    margin-right: 1vw;
    box-sizing: border-box;
}

#section #section2>.profile_bottom {
    display: flex;
}

#section #section2>.profile_bottom>div {
    width: 55%;
    text-align: center;
}

#section #section2>.profile_bottom>div>img {
    width: 85%;
    margin-top: 1.85vw;
    margin-left: 7vw;
    text-align: center;
}

#section #section2>.profile_bottom>.myskill {
    width: 40%;
    margin-top: 5vw;
    box-sizing: border-box;
    margin-left: 0.3vw;
}

#section #section2>.profile_bottom>.myskill>li {
    display: flex;
    width: 90%;
    box-sizing: border-box;
}

#section #section2>.profile_bottom>.myskill>li>h1 {
    color: #0039c8;
    font-size: 1.5vw;
    margin-bottom: 1.5vw;
}

#section #section2>.profile_bottom>.myskill>li>div>p {
    box-sizing: border-box;
}

#section #section2>.profile_bottom>.myskill>li>div {
    display: flex;
}

#section #section2>.profile_bottom>.myskill>li>div>p>img {
    width: 100%;
    margin-right: 5%;
}

#section3 {
    margin-top: -10vw;
    padding: 20vw 8vw;
    border-radius: 5vw 5vw 0 0;
    background-color: black;
    position: relative;
}

#section3 .blind {
    position: absolute;
    top: 5vw;
    right: 7vw;
    color: whitesmoke;
    font-size: 3vw;
}

#section3 .project_list {
    display: flex;
    flex-direction: column;
}

#section3 .project_list .project {
    position: relative;
    perspective: 100vw;
}

#section3 .project_list .project:hover {
    perspective: 100vw;
}

#section3 .project_list .project:hover .inner {
    color: whitesmoke;
    background: #0039c8;
    transform: rotateX(-5deg) translateZ(-5px) translateY(-14vw);
}

#section3 .project_list .project:hover .inner .keyword span {
    margin-top: 0.5vw;
    color: black;
    background-color: #a7f611;
}

#section3 .project_list .project:hover .inner svg path {
    stroke: whitesmoke;
}

#section3 .project_list .project+.project {
    margin-top: -20.5vw;
}

#section3 .project_list .project .inner {
    width: 100%;
    height: 33.8vw;
    padding: 0vw 3vw;
    color: black;
    box-shadow: 0 -15px 32px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    background: #e8e8e8;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) translateZ(-5px);
    transition: color 0.6s, transform 0.6s ease;
    border-radius: 23px;
    border-top: 10px solid #0039c8;
}

#section3 .project_list .project .title {
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-size: 4.5vw;
    font-weight: bold;
}

#section3 .project_list .project .pagination {
    position: absolute;
    right: 3vw;
    top: 2vw;
    font-size: 4vw;
    color: #0039c8;
}

#section3 .project_list .project:hover .pagination {
    color: white;
}

#section3 .project_list .project .txt-box {
    width: 80%;
}

#section3 .project_list .project .txt-box .desc {
    margin-bottom: 1vw;
    line-height: 1.3;
    font-size: 1.2vw;
    word-break: keep-all;
}

#section3 .project_list .project .txt-box .desc span {
    display: block;
}

#section3 .project_list .project .txt-box .keyword {
    display: flex;
    gap: 2vw;
}

#section3 .project_list .project .txt-box .period {
    width: 17vw;
    display: flex;
    justify-content: space-between;
    font-size: 1.1vw;
    margin-bottom: 1.2vw;
    /* border: 1px solid #0039c8;/ */
}

#section3 .project_list .project .txt-box .keyword span {
    padding: 0.5vw 1.4vw;
    font-size: 1.1vw;
    border-radius: 3vw;
    color: whitesmoke;
    background-color: #0039c8;
}

#section3 .project_list .project .btn-box {
    position: absolute;
    top: 12.6vw;
    right: 4vw;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

#section3 .project_list .project .btn-box a {
    display: block;
    font-size: 1.1vw;
    margin-bottom: 1vw;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    transition: transform 0.2s;
    color: #0039c8;
}

#section3 .project_list .project:hover .btn-box a {
    color: white;
}

#section3 .project_list .project .btn-box a:hover {
    color: #a7f611;
    transform: translateX(10px);
}

#section3 .project_list .project .btn-box a:hover svg path {
    stroke: #a7f611
}

#section3 .project_list .project .btn-box svg {
    width: 1vw;
    margin-left: 0.5vw;
}

#section3 .project_list .project .btn-box svg path {
    stroke: #0039c8;
}
/* ----------------------------------- */
#section #section4 {
    width: 100%;
    height: 50vw;
    top:-5vw; left: 0;
    background-color:#0039c8;
    border-radius: 5vw 5vw 0 0;
    box-sizing: border-box;
    position: relative;
}
#section #section4>h1 {
    font-size: 3vw;
    padding-top: 5vw;
    padding-right: 5vw;
    box-sizing: border-box;
    text-align: right;
    color: whitesmoke;
}
#section #section4>img{
    position: absolute;
    top:3vw;
    right:24vw;
    width: 5%;
}

#section #section4>.javascript {
    width: 90%;
    margin: 0 auto;
    margin-top: 7vw;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

#section #section4>.javascript>li {
    width: 100%;
    height: 9vw;
    border-bottom: 1px solid grey;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#section #section4>.javascript>li::before {
    display: block;
    content: "";
    width: 100%;
    position: absolute;
    top: 8.8vw;
    left: -90vw;
    border-bottom: 3px solid #a7f611;
    transition: all 0.4s ease-in;
}

#section #section4>.javascript>li:hover {
    background-color: rgba(138, 138, 138, 0.37);
}

#section #section4>.javascript>li:hover::before {
    top: 8.8vw;
    left: 0vw;
}

#section #section4>.javascript>li>a {
    display: flex;
    color: #ffffff;
    height: 3vw;
}

#section #section4>.javascript>li>a>p {
    margin-right: 5vw;
    margin-left: 1vw;
    font-size: 1.5vw;
    box-sizing: border-box;
}

#section #section4>.javascript>li>a>p {
    width: 10%;
}

#section #section4>.javascript>li>a>h1 {
    width: 30%;
    margin: 0 auto;
}

#section #section4>.javascript li>a>h3 {
    width: 60%;
}

#section #section4>.javascript>li>a>h3 {
    font-size: 2.5vw;
}

#section #section4>.javascript>li>a>h1>img {
    width: 60%;
    box-sizing: border-box;
    display: none;
}

#section #section4>.javascript>li:hover>a>h1>img {
    display: block;
    margin: 0 auto;
}
/* ----------------------- */
#section #section5{
    position: relative;
    width: 100%; height: 32vw;
    background-color:#0039c8;
    align-content: center;
    text-align: center;
  }
  #section #section5 .connect>h1{
    margin-top: 10vw;
    font-size: 5vw;
  }
  #section #section5 .connect>ul{
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 10vw;
    justify-content: space-between;
    box-sizing: border-box;
  }
  #section #section5 .connect>ul>li>a{
    color: black;
    font-size: 1vw;
    font-weight: bold;
  }